---
import ProjectCard from "./ProjectCard.astro";
---

<div id="projects" class="align-center flex w-full justify-center p-16">
  <div class="w-6xl max-w-6xl">
    <h1 class="mb-10 text-left text-4xl font-bold text-blue-900">Proyectos</h1>
    <div class="grid grid-cols-3 gap-6">
      <ProjectCard
        title="Glanz Optical Calculator Transposition"
        description="Glanz es una aplicación móvil creada para realizar el cálculo de transposición óptica de recetas de lentes. Actualmente disponible en la Play Store."
        image="/images/galnzProject.png"
        bgColor="bg-[#674d8a]"
        overlayColor="bg-purple-900/80"
      />
      <ProjectCard
        title="Personal Portfolio Website"
        description="Un portafolio personal creado para mostrar proyectos y habilidades como desarrollador web. Utiliza tecnologías modernas."
        image="/images/portfolioReactProject.png"
        bgColor="bg-gray-200"
        overlayColor="bg-gray-900/80"
      />
      <ProjectCard
        title="Dashboard de Adherencia"
        description="Dashboard creado para mostrar la adherencia de pacientes a sus tratamientos médicos."
        image="/images/dashboardProject.png"
        bgColor="bg-gray-200"
        overlayColor="bg-gray-900/80"
      />
      <ProjectCard
        title="Dashboard de Adherencia"
        description="Dashboard creado para mostrar la adherencia de pacientes a sus tratamientos médicos."
        image="/images/dashboardProject.png"
        bgColor="bg-gray-200"
        overlayColor="bg-gray-900/80"
      />
    </div>
  </div>
</div>
