{
    "extends": [
      "stylelint-config-standard",
      "stylelint-config-recommended-vue"
    ],
    "customSyntax": "postcss-html",
    "rules": {
      "at-rule-no-unknown": [
        true,
        {
          "ignoreAtRules": ["tailwind", "apply", "variants", "responsive", "screen"]
        }
      ],
      "no-descending-specificity": null,
      "color-function-notation": null,
      "media-feature-range-notation": null
    }
  }