@import "tailwindcss";

@theme {
  /* Base Colors */
  --color-bg-oficial: oklch(0.986 0.004 275); /* #f9f7fd */

  --color-title-primary: oklch(0.43 0.23 275); /* #1e40af */
  --color-title-secondary: oklch(0.0 0 0); /* #000000 */
  --color-title-tertiary: oklch(0.63 0.02 275); /* #6b7280 */

  --color-paragraph-primary: oklch(0.0 0 0); /* #000000 */

  /* home section */
  --color-home-border-image-profile: oklch(0.43 0.23 275); /* #1e40af */
  --color-home-icon-hover: oklch(0.9 0.15 85);

  /* others */
  
  --color-bg-side-custom-bar: oklch(1 0 0); /* #ffffff */
  
  --color-paragraph-primary: oklch(0.0 0 0); /* #000000 */
  --color-about-card: oklch(0.996 0.001 270); /* #fefefe */
  --color-bg-experience: oklch(1 0 0); /* #ffffff */
  --color-tech-accent: oklch(0.53 0.28 20); /* #e7001b */
  --color-techs-used: oklch(0.43 0.23 275); /* #1e40af */
  --color-text-experience-selector-hover: oklch(0.73 0.26 20); /* #ff566a */
  --color-bg-project-techs: oklch(0.63 0.29 27); /* #ef4444 */
  --color-overlay-color-card: oklch(0.43 0.23 275); /* #1e40af */
  --color-icon-custom-bar: oklch(0.0 0 0); /* #000000 */

  --color-glanz: oklch(0.52 0.18 298); /* #674d8a */
}

.dark {
  /* Base Colors */
  --color-bg-oficial: oklch(0.2 0 0); /* #202020 */

  --color-title-primary: oklch(1 0 0); /* #ffffff */
  --color-title-secondary: oklch(0.83 0.02 275); /* #d1d5db */
  --color-title-tertiary: oklch(0.43 0.23 275); /* #1e40af */

  --color-paragraph-primary: oklch(1 0 0); /* #ffffff */
  
  /* home section */
  --color-home-border-image-profile: oklch(0.83 0.01 275); /* #cecece */
  --color-home-icon-hover: oklch(0.5 0.15 275);

  /* others */
  
  --color-bg-side-custom-bar: oklch(0.2 0 0); /* #202020 */

  --color-about-card: oklch(0.25 0 0); /* #383838 */
  --color-bg-experience: oklch(0.25 0 0); /* #383838 */
  --color-tech-accent: oklch(0.62 0.2 275); /* #3b82f6 */
  --color-techs-used: oklch(0.83 0.01 275); /* #cecece */
  --color-text-experience-selector-hover: oklch(0.62 0.2 275); /* #3b82f6 */
  --color-bg-project-techs: oklch(0.35 0.18 275); /* #1038a7 */
  --color-overlay-color-card: oklch(0.0 0 0); /* #000000 */
  --color-icon-custom-bar: oklch(0.75 0.01 275); /* #a7aeb9 */
  --color-glanz: oklch(0.75 0.16 280); /* #a78bfa */
}

@custom-variant dark (&:where(.dark, .dark *));
