---
import EducationCard from "./ui/EducationCard.astro";
import salesianoIcon from "../../../../public/icons/salesiano.webp";
import udecIcon from "../../../../public/icons/udec.webp";
import SectionContainer from "../../shared/SectionContainer.astro";
import { initTranslations } from "../../../i18n/initTranslations";

const { t } = initTranslations(Astro);
---

<SectionContainer title={t("section.education.title")} idSection="education">
  <div class="grid grid-cols-1 gap-6 text-white lg:grid-cols-2">
    <EducationCard
      imageSrc={salesianoIcon}
      altText={t("education.salesiano.alt")}
      title={t("education.salesiano.title")}
      description={t("education.salesiano.description")}
      bgColor="bg-blue-950"
    />
    <EducationCard
      imageSrc={udecIcon}
      altText={t("education.udec.alt")}
      title={t("education.udec.title")}
      description={t("education.udec.description")}
      bgColor="bg-orange-700"
    />
  </div>
</SectionContainer>
