---
import { Image } from "astro:assets";
import profileImage from "../../../../public/images/profileAbout.webp";
import SectionContainer from "../../ui/SectionContainer.astro";
import TechSkills from "./TechSkills.astro";
---

<SectionContainer title="Sobre mí" idSection="about">
  <div
    class="flex flex-col items-center justify-center gap-6 lg:flex-row lg:items-start"
  >
    <Image
      src={profileImage}
      alt="Descripción de la imagen"
      class="m-2 h-58 w-58 rounded-full border-2 border-blue-900 object-cover"
    />
    <div
      class="info-box text-md relative max-w-4xl rounded-lg bg-white p-8 text-justify shadow-lg lg:text-lg xl:text-xl"
    >
      <div class="flex flex-col items-center gap-4 md:items-start">
        <p>
          ¡Hola! Soy Mauricio, Ingeniero Civil Informático titulado de la
          Universidad de Concepción, estoy enfocado en el desarrollo de
          software. Mi camino ha sido increíble, y mi objetivo es seguir
          creciendo como profesional y mejorar constantemente.
        </p>
        <p>
          Actualmente, me estoy enfocando en ampliar mi portafolio, creando
          proyectos interesantes que me permitan seguir aprendiendo. Mi
          experiencia laboral me ha enseñado no solo aspectos técnicos, sino
          también la importancia de comunicarme efectivamente, resolver
          problemas y ser parte de un equipo.
        </p>
        <div>
          <h2>
            Algunas tecnologías con las que he estado trabajando recientemente:
          </h2>
          <div class="flex space-x-16 pl-6">
            <ul class="list-disc text-gray-700">
              <li>React</li>
              <li>Vue</li>
              <li>TypeScript</li>
            </ul>
            <ul class="list-disc text-gray-700">
              <li>Ruby and Rails</li>
              <li>Flutter</li>
              <li>Tailwind</li>
            </ul>
          </div>
        </div>
        <a
          href="https://drive.google.com/file/d/1NsNn5XnQY9C3z0oJMXnSmip897n0QXmm/view?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
          class="w-1/4 min-w-52 transform rounded-full bg-blue-900 px-6 py-3 text-center font-semibold text-white transition-transform duration-300 hover:scale-105 hover:bg-red-600"
        >
          Descarga mi CV
        </a>
      </div>
    </div>
  </div>
  <TechSkills />
</SectionContainer>

<style>
  .info-box::before {
    content: "";
    position: absolute;
    left: -50px;
    transform: rotate(-90deg);
    border-width: 25px;
    border-style: solid;
    border-color: transparent transparent white;
  }
</style>
