---
import { Image } from "astro:assets";
import profileImage from "../../../../public/images/profileAbout.webp";
import SectionContainer from "../../shared/SectionContainer.astro";
import TechSkills from "./TechSkills.astro";
import { initTranslations } from "../../../i18n/initTranslations";

const { t } = initTranslations(Astro);
---

<SectionContainer title={t("section.aboutTitle")} idSection="about">
  <div
    class="flex flex-col items-center justify-center gap-6 lg:flex-row lg:items-start"
  >
    <Image
      src={profileImage}
      height={232}
      width={210}
      alt={t("about.altProfileImage")}
      class="border-title-primary rounded-full border-2 object-cover"
    />
    <div
      class="info-box text-md bg-about-card relative max-w-4xl rounded-lg p-8 text-justify shadow-lg lg:text-lg xl:text-xl"
    >
      <div
        class="text-paragraph-primary flex flex-col items-center gap-4 md:items-start"
      >
        <p>
          {t("about.introductionParagraph1")}
        </p>
        <p>
          {t("about.introductionParagraph2")}
        </p>
        <div>
          <h2>
            {t("about.technologiesTitle")}
          </h2>
          <div class="flex space-x-16 p-4">
            <ul class="list-disc">
              <li>{t("about.technologiesList1Item1")}</li>
              <li>{t("about.technologiesList1Item2")}</li>
              <li>{t("about.technologiesList1Item3")}</li>
            </ul>
            <ul class="list-disc">
              <li>{t("about.technologiesList2Item1")}</li>
              <li>{t("about.technologiesList2Item2")}</li>
              <li>{t("about.technologiesList2Item3")}</li>
            </ul>
          </div>
        </div>
        <a
          href="https://drive.google.com/file/d/10hQRVd0m-rsUd0jruEo8ZFTBr2gxX074/view?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
          class="bg-title-primary w-1/4 min-w-52 transform rounded-full px-6 py-3 text-center font-semibold text-white transition-transform duration-300 hover:scale-105 hover:bg-red-600 dark:bg-gray-300 dark:text-black dark:hover:bg-blue-900 dark:hover:text-white"
          aria-label={t("about.downloadCVLabel")}
        >
          {t("about.downloadCV")}
        </a>
      </div>
    </div>
  </div>
  <TechSkills />
</SectionContainer>

<style>
  .info-box::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -50px;
    transform: rotate(-90deg);
    border-width: 25px;
    border-style: solid;
    border-color: transparent transparent var(--color-about-card);
  }
</style>
