---
import TechBox from "./ui/TechBox.astro";
import { techs } from "../../../data/techs";
import { initTranslations } from "../../../i18n/initTranslations";

const { lang } = initTranslations(Astro);
---

<div
  class="mt-8 mb-8 grid grid-cols-2 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6"
>
  {
    techs.map((tech) => (
      <TechBox
        name={tech.name[lang]}
        icon={tech.icon}
        description={tech.description[lang]}
      />
    ))
  }
</div>
