---
import { Image } from "astro:assets";
import profileImage from "../../public/images/profile.jpg";
---

<div
  id="container"
  class="flex h-screen w-screen flex-col items-center justify-center gap-2 bg-[url('/pattern.png')] bg-cover"
>
  <Image
    src={profileImage}
    alt="Descripción de la imagen"
    class="m-2 h-40 w-40 rounded-full border-2 border-blue-900 object-cover"
  />
  <h1 class="text-3xl font-bold text-blue-900">Mauricio Furniel Campos</h1>
  <h2 class="text-xl font-semibold">Ingeniero Civil Informático</h2>
  <p class="text-s font-bold text-gray-500">Universidad de Concepción</p>
  <div class="mt-2 flex space-x-6">
    <a
      href="https://github.com/mfurniel"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/icons/github.svg"
        alt="GitHub"
        class="h-8 w-8 transition-all duration-500 hover:brightness-150 hover:invert hover:saturate-150"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/mauricio-furniel/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/icons/linkedin.svg"
        alt="LinkedIn"
        class="h-8 w-8 transition-all duration-500 hover:brightness-150 hover:invert hover:saturate-150"
      />
    </a>
  </div>
</div>
