---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

export interface Props {
  name: string;
  icon: ImageMetadata;
  description: string;
}

const { name, icon, description } = Astro.props;
---

<div
  class="grid grid-cols-[auto_1fr] grid-rows-1 gap-2 text-left transition-all duration-300 hover:scale-100 hover:shadow-lg"
>
  <div class="h-16 w-16 p-2">
    <Image
      src={icon}
      alt={`${name} icon`}
      class="aspect-square h-full w-full object-cover object-center"
    />
  </div>
  <div>
    <h1 class="text-md font-semibold text-blue-900 md:text-xl">{name}</h1>
    <p class="text-sm font-light">{description}</p>
  </div>
</div>
