---
import { Image } from "astro:assets";
import sampleImage from "../../../../../public/icons/html.svg";

type ImageMetadata = typeof sampleImage;
export interface Props {
  name: string;
  icon: ImageMetadata;
  description: string;
}

const { name, icon, description } = Astro.props;
---

<div
  class="grid grid-cols-[auto_1fr] grid-rows-1 gap-2 text-left transition-all duration-300 hover:scale-105 hover:shadow-lg"
>
  <Image src={icon} alt={`${name} icon`} class="h-16 w-16 p-2" />
  <div>
    <h1 class="text-xl font-semibold text-blue-900">{name}</h1>
    <p class="text-sm font-light">{description}</p>
  </div>
</div>
