---
import { Image } from "astro:assets";
import profileImage from "../../../../public/images/profile.webp";
import SmoothScrollButton from "../../shared/ui/SmoothScrollButton.vue";
import GithubIcon from "../../../../public/icons/github.svg";
import LinkedinIcon from "../../../../public/icons/linkedin.svg";
import { initTranslations } from "../../../i18n/initTranslations";

const { t } = initTranslations(Astro);
---

<section
  id="home"
  class="flex h-screen w-full flex-col items-center justify-center gap-2 bg-[url('/backgroundHome.svg')] bg-cover pb-32 text-center"
>
  <Image
    src={profileImage}
    alt={t("home.alt.profile.image")}
    height={160}
    width={160}
    class="rounded-full border-2 border-[var(--color-home-border-image-profile)]"
    loading="eager"
  />
  <h1 class="text-3xl font-bold text-[var(--color-title-primary)]">
    Mauricio Furniel Campos
  </h1>
  <h2 class="text-xl font-semibold text-[var(--color-title-secondary)]">
    {t("profile.profession")}
  </h2>
  <p class="text-base font-bold text-[var(--color-title-tertiary)]">
    {t("profile.university")}
  </p>
  <div class="mt-2 flex space-x-6">
    <a
      href="https://github.com/mfurniel"
      target="_blank"
      rel="noopener noreferrer"
      aria-label={t("home.arial.label.github")}
    >
      <GithubIcon
        size={32}
        class="h-8 w-8 text-[var(--color-title-primary)] transition-all duration-500 hover:text-[var(--color-home-icon-hover)]"
        aria-label={t("home.arial.label.github")}
      />
      <span class="sr-only">{t("home.arial.label.github")}</span>
    </a>
    <a
      href="https://www.linkedin.com/in/mauricio-furniel"
      target="_blank"
      rel="noopener noreferrer"
      aria-label={t("home.arial.label.linkedin")}
    >
      <LinkedinIcon
        size={32}
        class="h-8 w-8 text-[var(--color-title-primary)] transition-all duration-500 hover:text-[var(--color-home-icon-hover)]"
        aria-label={t("home.arial.label.linkedin")}
      />
      <span class="sr-only">{t("home.arial.label.linkedin")}</span>
    </a>
  </div>
  <div class="absolute bottom-12 flex list-none flex-col items-center gap-1">
    <span class="text-base font-bold text-[var(--color-title-primary)]"
      >{t("home.text.keep.scrolling")}</span
    >
    <SmoothScrollButton
      target="#about"
      icon="scrollarrowtodown"
      alt={t("home.icon.alt.scrolling")}
      class="animate-pulse"
      client:load
    />
  </div>
</section>
