---
import "../styles/global.css";
import CustomSideBar from "./ui/CustomSideBar.vue";
const pageDescription =
  "Portafolio Web de un desarrollador de software junior utilizando tecnologias como Astro, Vue, Tailwind y Typescript.";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icons/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Tech Test Portafolio</title>
    <meta name="description" content={pageDescription} />
  </head>
  <body class="bg-bg-oficial">
    <CustomSideBar client:load />
    <main class="p-8 lg:ml-28">
      <slot />
    </main>
  </body>
</html>
