---
import "../styles/global.css";
import CustomSideBar from "./ui/CustomSideBar.vue";
import { initTranslations } from "../i18n/initTranslations";

const { t, lang } = initTranslations(Astro);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icons/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Tech Test Portafolio</title>
    <meta name="description" content={t("layout.pageDescription")} />
  </head>
  <body class="bg-bg-oficial">
    <CustomSideBar client:load />
    <main class="p-8 lg:ml-28">
      <slot />
    </main>
  </body>
</html>
