---
import ProjectCard from "./ui/ProjectCard.astro";
import glanzProject from "../../../../public/images/glanzProject.webp";
import portfolioProject from "../../../../public/images/portfolioReactProject.webp";
import dashboardProject from "../../../../public/images/dashboardProject.webp";
import techTestPortafolio from "../../../../public/images/techTestPortafolio.webp";
import SectionContainer from "../../shared/SectionContainer.astro";
import { initTranslations } from "../../../i18n/initTranslations";

const { t } = initTranslations(Astro);
---

<SectionContainer title={t("section.projectsTitle")} idSection="projects">
  <div
    class="grid grid-cols-1 place-items-center gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3"
  >
    <ProjectCard
      title={t("projects.glanz.title")}
      description={t("projects.glanz.description")}
      image={glanzProject}
      bgColor="bg-[#674d8a]"
      overlayColor="bg-overlay-color-card/80"
      projectLink="https://play.google.com/store/apps/details?id=com.grauss.glanz"
      techs={["Flutter", "Dart"]}
    />
    <ProjectCard
      title={t("projects.portfolio.title")}
      description={t("projects.portfolio.description")}
      image={portfolioProject}
      bgColor="bg-gray-200"
      overlayColor="bg-overlay-color-card/80"
      projectLink="https://mfurniel.github.io/mfurnielc_portafolio/"
      techs={["React", "Tailwind", "JavaScript"]}
    />
    <ProjectCard
      title={t("projects.dashboard.title")}
      description={t("projects.dashboard.description")}
      image={dashboardProject}
      bgColor="bg-gray-200"
      overlayColor="bg-overlay-color-card/80"
      techs={["React", "Tailwind", "JavaScript"]}
    />
    <ProjectCard
      title={t("projects.techTestPortfolio.title")}
      description={t("projects.techTestPortfolio.description")}
      image={techTestPortafolio}
      bgColor="bg-gray-200"
      overlayColor="bg-overlay-color-card/80"
      techs={["Astro", "Vue", "Tailwind"]}
      githubLink="https://github.com/mfurniel/tech-test-portafolio"
    />
  </div>
</SectionContainer>
