---
interface Props {
  idSection: string;
  title: string;
}

const { idSection, title } = Astro.props;
---

<section
  class="align-center flex w-full justify-center p-8 md:p-16"
  id={idSection}
>
  <div class="w-6xl max-w-6xl">
    <h1 class="mb-10 text-left text-4xl font-bold text-blue-900">{title}</h1>
    <slot />
  </div>
</section>
